<div class="chat-wrapper open">
    <div class="chat-header">
        <div class="d-flex justify-content-between">
            <h5 class="mb-0 text-white">
                Send Message
            </h5>
            <i class="fa fa-minus text-white" aria-hidden="true" id="closeChat"></i>
        </div>
    </div>
    <div class="chat-body">
        <p>
            Our customer service representatives are unavailable right now. Please leave a message and we will get back to you asap. You can also call us Monday - Saturday from 8am to 7pm at 1-800-903-2470 or 1-202-897-4070.
        </p>
        <form>
            <div class="form-group">
                <label>Your first name: <span class="text-danger">*</span></label>
                <input type="text" class="form-control mb-0" />
            </div>
            <div class="form-group">
                <label>What type of documents do you have? <span class="text-danger">*</span></label>
                <div class="check-list">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Birth</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">Death</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">Marriage</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">Divorce</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                        <label class="custom-control-label" for="customCheck5">Power of Attorney</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                        <label class="custom-control-label" for="customCheck6">USA Passport</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck7">
                        <label class="custom-control-label" for="customCheck7">Diplomas / Transcripts</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck8">
                        <label class="custom-control-label" for="customCheck8">Background Check</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck9">
                        <label class="custom-control-label" for="customCheck9">Certificate of Naturalization</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck10">
                        <label class="custom-control-label" for="customCheck10">Social Security</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck11">
                        <label class="custom-control-label" for="customCheck11">Single Status</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck12">
                        <label class="custom-control-label" for="customCheck12">Driver License</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck13">
                        <label class="custom-control-label" for="customCheck13">Travel Consent Form</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck14">
                        <label class="custom-control-label" for="customCheck14">Other (provide details below)</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>What US State are your documents from? <span class="text-danger">*</span></label>
                <input type="text" class="form-control mb-0" />
            </div>
            <div class="form-group">
                <label>What country is requesting your documents? <span class="text-danger">*</span></label>
                <input type="text" class="form-control mb-0" />
            </div>
            <div class="form-group">
                <label>Your USA Phone Number (Optional):</label>
                <input type="text" class="form-control mb-0" />
            </div>
            <div class="form-group">
                <label>Your E-mail: <span class="text-danger">*</span></label>
                <input type="text" class="form-control mb-0" />
            </div>
            <div class="form-group">
                <label>Message: <span class="text-danger">*</span></label>
                <textarea type="text" class="form-control mb-0 h-100"></textarea>
            </div>
            <button class="btn btn-success w-100 btn-sm">Leave a Message</button>
        </form>
    </div>
</div>