
<form role="search" class="widget_search d-flex" action="/search" method="post">
    <input type="search" class="search-field" placeholder="Search ..." value="" name="SearchKeyword">
    <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
</form>