/*Colores*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
/*Layout*/
.map-screen {
  border: 0;
  width: 100%;
  height: 350px;
  margin-bottom: 30px; }

.week-day {
  position: relative;
  clear: both;
  padding: 5px 0; }
  .week-day dt {
    position: relative;
    z-index: 2;
    float: left;
    padding-right: 10px;
    background-color: #fff;
    font-weight: 400; }
  .week-day dd {
    position: relative;
    z-index: 2;
    float: right;
    padding-left: 10px;
    background-color: #fff; }
  .week-day:after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 100%;
    bottom: calc(50% - 13px);
    left: 0;
    z-index: 1; }

@media (min-width: 768px) {
  .container {
    max-width: 750px; } }

@media (min-width: 992px) {
  .container {
    max-width: 970px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 200px; }
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px; } }

.btn {
  font-weight: 700;
  line-height: 45px;
  padding: 0 30px;
  border-radius: 2px;
  text-transform: uppercase;
  transition: all 100ms ease-out;
  box-shadow: none !important;
  outline: none !important; }

.btn-default {
  color: #aaa;
  background-color: #eee;
  border-color: #eee; }

.pagination .page-item .page-link {
  background: #eee;
  color: #aaa;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin-right: 10px; }
  .pagination .page-item .page-link.active {
    background: #b22332;
    color: #fff; }

.btn-secondary {
  background-color: #b22332;
  border-color: #b22332; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #871b26;
    border-color: #871b26; }

.text-accent {
  color: #b22332 !important; }

.card-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif; }

.blog-img.w-100 {
  height: 120px;
  object-fit: cover; }

.icon-container--square, .icon-container--circle {
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  transition: all 100ms ease-out;
  border-radius: 2px;
  /*background-color: rgba(250,250,250,.5);*/
  display: inline-block; }

.panel-row-style {
  background-image: url("../img/posters/4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px; }

.widget-title {
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%; }
  .widget-title .widget-title__line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.065);
    display: block;
    width: 150px;
    margin-left: 16px; }

.form-control {
  background: #f5f5f5;
  border-radius: 2px;
  border: 1px solid #eee;
  box-shadow: none;
  width: 100%;
  margin-bottom: 30px;
  font-size: 14px;
  color: #aaa;
  transition: all 100ms ease-out;
  padding: 17.5px 20px;
  height: inherit; }
  .form-control:focus {
    border-color: #eee;
    background: #fff;
    box-shadow: none;
    outline: none; }

.breadcrumbs {
  color: #aaaaaa;
  box-shadow: 0 1px 2px #e6e6e6;
  border-top: 1px solid #e6e6e6;
  font-size: 14px;
  margin-bottom: 30px;
  position: relative;
  z-index: 20; }
  .breadcrumbs a {
    color: #444444;
    padding: 12px 0;
    padding-right: 30px;
    margin-right: 30px;
    font-size: 14px;
    display: inline-block;
    position: relative; }
    .breadcrumbs a:before {
      top: -5px;
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .breadcrumbs a:after {
      bottom: -5px;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .breadcrumbs a:after, .breadcrumbs a:before {
      background-color: #e6e6e6;
      position: absolute;
      content: "";
      height: 33px;
      width: 1px;
      right: 0;
      background-color: #e6e6e6; }

.header__logo img {
  max-width: 200px; }

.main-title {
  background: #f8f9fa;
  padding: 40px 0; }
  .main-title h3 {
    color: #aaaaaa; }
  .main-title h1,
  .main-title h2 {
    color: #444444; }
  .main-title .main-title__primary {
    text-transform: uppercase;
    margin: 0;
    font-size: 44px;
    font-weight: bold; }
  .main-title .main-title__secondary {
    font-family: roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #aaa;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0; }

.widget_search .search-field {
  border-radius: 0px;
  border-right: none;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 6px 5px 6px 10px;
  font-weight: 400;
  transition: all 100ms ease-out; }

.widget_search .search-submit {
  border-radius: 0;
  width: 20%;
  background-color: #b22332;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  padding-top: 3px;
  transition: all 100ms ease-out; }

.img-contain {
  object-fit: contain; }

.text-line-right {
  position: relative; }
  .text-line-right span {
    background: #fff;
    padding: 15px;
    padding-left: 0; }
  .text-line-right:after {
    content: '';
    position: absolute;
    background: #eee;
    height: 1px;
    width: 100%;
    left: 0;
    top: calc(50% - 1px);
    z-index: -2; }

/*Components*/
.header__container {
  background-color: #fff;
  position: relative; }

.no-flexbox .header {
  display: inline-block;
  width: 100%; }

.no-flexbox .header__logo {
  width: 100%; }
  .no-flexbox .header__logo::after {
    display: none; }

.no-flexbox .header__navigation {
  width: 100%;
  margin-left: 0;
  margin-top: 0; }

.no-flexbox .header__widgets {
  width: 100%; }
  .no-flexbox .header__widgets .widget .textwidget .btn {
    margin-bottom: 25px; }

.no-flexbox .header__navigation-widgets {
  width: 100%;
  text-align: center;
  margin-top: 0; }

.no-flexbox .header__container::before {
  display: none; }

.no-flexbox .header__container::after {
  display: none; }

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .header .widget-icon-box:first-of-type .icon-box {
    margin-left: 0;
    padding-left: 0;
    border-left: 0; }
  .header .icon-box {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%; }
    .header .icon-box:hover {
      text-decoration: none; }
    .header .icon-box .fa {
      color: #b22332;
      margin-right: 3px; }
  .header .icon-box__title {
    font-family: roboto,Helvetica,Arial,sans-serif;
    display: inline-block;
    font-size: 13px;
    color: #aaa;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0; }
  .header .icon-box__subtitle {
    display: block;
    color: #444;
    font-weight: 700; }

.header__navigation {
  -ms-flex-order: 2;
  order: 2;
  width: 100%; }
  .header__navigation .navbar-collapse {
    padding: 0; }

.header__navigation-widgets {
  -ms-flex-order: 4;
  order: 4;
  width: 100%;
  padding: 20px 0; }

.header__logo {
  -ms-flex-order: 1;
  order: 1;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }
  .header__logo img {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%; }
  .header__logo a {
    transition: all 100ms ease-out; }
    .header__logo a:hover {
      text-decoration: none; }
    .header__logo a h1 {
      margin: 40px 0;
      color: #444; }
      .header__logo a h1:hover {
        color: #000; }

.header__widgets {
  -ms-flex-order: 3;
  order: 3;
  background-color: #fff;
  width: 100%; }
  .header__widgets .btn {
    width: 100%; }

.navbar-toggle {
  position: relative;
  float: right;
  background-color: #1c4e98;
  color: #fff;
  border: 0;
  border-radius: 2px;
  padding: 10px 12px;
  margin: 10px 0;
  transition: all 100ms ease-out;
  display: flex;
  align-items: center; }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    width: 18px;
    height: 3px; }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
    margin-top: 3px; }
  .navbar-toggle:hover {
    background-color: #19344a; }
  .navbar-toggle .navbar-toggle__text {
    font-family: source sans pro, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    padding: 0 10px 0 0; }

.main-navigation {
  padding: 0 0 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  padding: 30px;
  list-style: none; }
  .main-navigation > li {
    position: relative; }
    .main-navigation > li > a {
      position: relative;
      display: block;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
      color: #444;
      padding: 10px 0; }
    .main-navigation > li:last-of-type > a::before {
      display: none; }
    .main-navigation > li:hover > a {
      color: #1c4e98;
      text-decoration: none; }
    .main-navigation > li:hover > .sub-menu {
      left: 0; }
    .main-navigation > li:focus > a {
      color: #1c4e98;
      text-decoration: none; }
    .main-navigation > li:focus > .sub-menu {
      left: 0; }
  .main-navigation > li[aria-expanded=true] > a {
    color: #1c4e98;
    text-decoration: none; }
  .main-navigation > li[aria-expanded=true] > .sub-menu {
    left: 0; }
  .main-navigation .menu-item-has-children:hover::after {
    color: #1c4e98; }
  .main-navigation .sub-menu {
    list-style: none;
    padding: 0; }
    .main-navigation .sub-menu > li {
      position: relative; }
      .main-navigation .sub-menu > li > a {
        display: block;
        font-size: 14px;
        font-weight: 700;
        padding: 12px 20px;
        background-color: #fff;
        color: #999; }
        .main-navigation .sub-menu > li > a:hover {
          color: #1c4e98;
          text-decoration: none; }
      .main-navigation .sub-menu > li:hover > .sub-menu {
        left: 100%; }
      .main-navigation .sub-menu > li > .sub-menu {
        margin-top: 0;
        top: 0;
        margin-left: 0;
        padding-left: 20px; }
        .main-navigation .sub-menu > li > .sub-menu > li:first-of-type > a {
          border-bottom-left-radius: 0;
          border-top-right-radius: 2px; }
        .main-navigation .sub-menu > li > .sub-menu > li:last-of-type > a {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 2px; }
        .main-navigation .sub-menu > li > .sub-menu > li:hover.menu-item-has-children > a {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
    .main-navigation .sub-menu > li[aria-expanded=true] > .sub-menu {
      left: 100%; }
    .main-navigation .sub-menu .menu-item-has-children {
      position: relative; }
      .main-navigation .sub-menu .menu-item-has-children:hover > a {
        margin: 0;
        padding: 12px 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
      .main-navigation .sub-menu .menu-item-has-children:hover::after {
        color: #1c4e98; }

.social-icons__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  line-height: 42px;
  border-radius: 2px;
  transition: all 100ms ease-out;
  padding-left: 1px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff; }
  .social-icons__link:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff; }

@media screen and (max-width: 991) {
  .header__widgets + .header__navigation-widgets {
    padding-top: 0; }
  .header__widgets {
    margin-bottom: 20px; } }

@media (min-width: 992px) and (min-width: 992px) {
  .is-sticky-nav .header__navigation .main-navigation {
    width: 970px; } }

@media (min-width: 992px) and (min-width: 1200px) {
  .is-sticky-nav .header__navigation .main-navigation {
    width: 1170px; } }

@media screen and (min-width: 992px) {
  .header__container {
    background-color: #1c4e98; }
    .header__container::before {
      content: "";
      position: absolute;
      top: 0;
      width: calc(50% - 470px);
      background-color: #fff;
      bottom: 60px;
      left: 0; }
    .header__container::after {
      content: "";
      position: absolute;
      top: 0;
      width: calc(50% - 470px);
      background-color: #fff;
      bottom: 60px;
      right: 0; }
  .header .icon-box {
    margin-right: 20px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-bottom: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    width: auto; }
  .header__logo {
    z-index: 1;
    width: 270px;
    height: 120px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0; }
    .header__logo img {
      margin-bottom: 0; }
  .no-flexbox .header__logo {
    text-align: center; }
  .no-flexbox .header__navigation {
    text-align: center; }
  .no-flexbox .header__widgets {
    text-align: center; }
    .no-flexbox .header__widgets .widget {
      display: inline-block; }
  .header__navigation {
    -ms-flex-order: 3;
    order: 3;
    width: 75%; }
  .social-icons__link {
    margin-left: 5px;
    margin-right: 0;
    background-color: rgba(250, 250, 250, 0.5);
    color: #1c4e98; }
    .social-icons__link:hover {
      background-color: #fff;
      color: #1c4e98; }
  .navbar-toggle {
    display: none; }
  .is-sticky-nav .header__navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: #1c4e98;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    display: block;
    margin-top: 0;
    margin-left: 0; }
    .is-sticky-nav .header__navigation .main-navigation {
      width: 750px;
      margin-left: auto;
      margin-right: auto; }
  .is-sticky-nav.admin-bar .header__navigation {
    top: 32px; }
  .header__navigation-widgets {
    width: 25%;
    padding: 10px 0;
    text-align: right; }
  .header__widgets {
    -ms-flex-order: 2;
    order: 2;
    width: calc(100% - 270px);
    height: 120px;
    text-align: right;
    padding: 37.5px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .header__widgets .btn {
      width: auto; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  .main-navigation {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-bottom: 0;
    font-size: 0; }
    .main-navigation > li {
      display: inline-block;
      font-size: 14px; }
      .main-navigation > li > a {
        color: #fff;
        padding: 18px 20px; }
        .main-navigation > li > a::before {
          position: absolute;
          content: "";
          width: 4px;
          height: 4px;
          right: -2px;
          top: calc(50% - 2px);
          border-radius: 50%;
          background: rgba(250, 250, 250, 0.2); }
      .main-navigation > li:hover > a {
        color: #fff; }
        .main-navigation > li:hover > a::after {
          position: absolute;
          content: "";
          width: calc(100% - 30px);
          height: 5px;
          left: 15px;
          bottom: 0;
          background-color: #b22332; }
      .main-navigation > li:focus > a {
        color: #fff; }
        .main-navigation > li:focus > a::after {
          position: absolute;
          content: "";
          width: calc(100% - 30px);
          height: 5px;
          left: 15px;
          bottom: 0;
          background-color: #b22332; }
    .main-navigation > li[aria-expanded=true] > a {
      color: #fff; }
      .main-navigation > li[aria-expanded=true] > a::after {
        position: absolute;
        content: "";
        width: calc(100% - 30px);
        height: 5px;
        left: 15px;
        bottom: 0;
        background-color: #b22332; }
    .main-navigation > .current-menu-item > a::after {
      position: absolute;
      content: "";
      width: calc(100% - 30px);
      height: 5px;
      left: 15px;
      bottom: 0;
      background-color: #b22332; }
    .main-navigation .menu-item-has-children > a {
      padding: 18px 35px 18px 20px; }
    .main-navigation .menu-item-has-children::after {
      position: absolute;
      content: "\f0d7";
      font-family: fontawesome;
      font-size: 12px;
      right: 18px;
      top: calc(50% - 10px);
      color: #fff; }
    .main-navigation .menu-item-has-children:hover > a {
      color: #1c4e98;
      background-color: #fff;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      padding: 8px 30px 18px 15px;
      margin: 10px 5px 0; }
      .main-navigation .menu-item-has-children:hover > a::before {
        right: -7px;
        top: 18px; }
      .main-navigation .menu-item-has-children:hover > a::after {
        display: none; }
    .main-navigation .sub-menu {
      position: absolute;
      left: -9999em;
      z-index: 9999;
      margin-left: 5px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      min-width: calc(100% - 10px); }
      .main-navigation .sub-menu > li > a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        min-width: 160px;
        white-space: nowrap; }
      .main-navigation .sub-menu > li:last-of-type > a {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom: 0; }
      .main-navigation .sub-menu > li > .sub-menu {
        padding-left: 0;
        box-shadow: 1px 0 1px #dadada; }
        .main-navigation .sub-menu > li > .sub-menu > li > a {
          border-left: 1px solid rgba(0, 0, 0, 0.1); }
      .main-navigation .sub-menu .menu-item-has-children::after {
        position: absolute;
        content: "\f0da";
        font-family: fontawesome;
        font-size: 12px;
        right: 15px;
        top: calc(50% - 10px);
        color: #999; } }

@media screen and (min-width: 1200px) {
  .main-navigation {
    padding-left: 10px; }
  .header__container::before {
    width: calc(50% - 570px);
    bottom: 30px; }
  .header__container::after {
    width: calc(50% - 570px); }
  .header__widgets {
    height: 90px;
    padding: 22.5px 0; }
  .header__logo {
    position: relative; }
    .header__logo::after {
      position: absolute;
      content: "";
      z-index: -1;
      height: 43px;
      width: 43px;
      background-color: #fff;
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
      bottom: 9px;
      right: -22px; }
  .header .icon-box {
    margin-right: 30px;
    padding-left: 30px; }
  .header__navigation {
    width: calc(80% - 300px);
    margin-left: 300px;
    margin-top: -30px; }
  .header__navigation-widgets {
    margin-top: -30px;
    width: 20%; } }

@media screen and (min-width: 480px) {
  .header__logo img {
    width: auto; }
  .navbar-toggle {
    margin: 18px 0; } }

.blog-list .meta-data {
  padding: 6px 20px 4px;
  background-color: #eee;
  color: #aaa;
  font-size: 14px;
  line-height: 35px;
  margin-bottom: 24px; }
  .blog-list .meta-data .meta-data__separator {
    margin: 0 10px;
    color: #ddd;
    font-size: 28px;
    vertical-align: middle; }
  .blog-list .meta-data a {
    color: #aaa; }

.blog-list .entry-title {
  font-size: 34px;
  color: #444;
  margin-bottom: 19px;
  line-height: 1.2;
  font-family: source sans pro,Helvetica,Arial,sans-serif;
  font-weight: 900; }
  .blog-list .entry-title a {
    color: #444444; }

.blog-list .entry-content {
  color: #aaaaaa; }

.tag-wrapper a {
  color: #3e7edc;
  font-weight: 500; }

.sidebar {
  will-change: min-height; }

.sidebar__inner {
  transform: translate(0, 0);
  /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform; }

.posts {
  padding-left: 25px; }
  .posts a {
    color: #444;
    display: block;
    padding: 5px 0; }

.sidebar-section {
  margin-bottom: 25px;
  padding-bottom: 20px; }
  .sidebar-section:not(:last-child) {
    border-bottom: 1px solid #eee; }

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit; }

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative; }
  .timeline-item:last-child {
    padding-bottom: 0; }

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  margin: 0 0 .5em 0;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  color: #aaa; }

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px; }
  .timeline-marker:before {
    background: #1c4e98;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out; }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px; }
  .timeline-item:last-child .timeline-marker:after {
    content: none; }

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #1c4e98; }

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px; }
  .timeline-content p:last-child {
    margin-bottom: 0; }

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0; }
  .period .timeline-info {
    display: none; }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB; }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto; }
  .period .timeline-content {
    padding: 40px 0 70px; }
  .period .timeline-title {
    margin: 0; }

/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table; }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0; }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker,
  .timeline-split .timeline-content, .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info, .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top; }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative; }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px; }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px; }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px; } }

/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0; }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden; }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px; }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%; }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px; }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px; }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px; }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px; }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center; }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px; }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto; }
  .timeline-centered .period .timeline-title {
    left: auto; } }

/*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #1c4e98; }

.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #1c4e98; }

.faq-nav {
  flex-direction: column;
  margin: 0 0 32px;
  border-radius: 2px;
  border: 1px solid #ddd; }

.faq-nav .nav-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 13px 16px;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #616161;
  transition: background-color .2s ease; }

.faq-nav .nav-link:hover {
  background-color: #f6f6f6; }

.faq-nav .nav-link.active {
  background-color: #f6f6f6;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87); }

.faq-nav .nav-link:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 0; }

.faq-nav .nav-link i.mdi {
  margin-right: 5px;
  font-size: 18px;
  position: relative; }

.tab-content .card {
  border-radius: 0; }

.tab-content .card-header {
  padding: 15px 16px;
  border-radius: 0;
  background-color: #f6f6f6;
  margin-bottom: 0 !important; }

.tab-content .card-header h5 {
  margin: 0; }

.tab-content .card-header h5 button {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  white-space: normal; }

.tab-content .card-header h5 button:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 button:active, .tab-content .card-header h5 button:hover:active {
  text-decoration: none; }

.tab-content .card-body p {
  color: #616161; }

.tab-content .card-body p:last-of-type {
  margin: 0; }

.accordion > .card:not(:first-child) {
  border-top: 0; }

.collapse.show .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.footer-top {
  background-color: #1c4e98; }
  .footer-top ul {
    list-style: none;
    padding: 0; }
    .footer-top ul li > a {
      color: #95b8eb;
      font-size: small;
      position: relative;
      transition: all .2s ease-in-out; }
      .footer-top ul li > a:before {
        content: '';
        position: relative;
        width: 11px;
        display: inline-block;
        height: 1px;
        background: #95b8eb;
        top: -3px;
        margin-right: 5px;
        transition: all .2s ease-in-out; }
      .footer-top ul li > a:hover {
        color: #fff; }
        .footer-top ul li > a:hover:before {
          width: 20px; }

.footer::before, .footer::after {
  background-color: #1c4e98; }

.footer-top {
  color: #95b8eb;
  padding: 55px 0; }
  .footer-top::before, .footer-top::after {
    background-color: #1c4e98; }

.footer-top__headings {
  color: #fff;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 21px; }

.footer-bottom {
  padding: 19px 0;
  background: #194587;
  color: #6a9be3;
  font-size: small; }
  .footer-bottom a {
    color: #fff;
    font-weight: bold; }

.slider-section {
  position: relative; }
  .slider-section .controller {
    position: absolute;
    z-index: 999;
    top: 70px;
    left: 30px; }
    .slider-section .controller .btn {
      background: rgba(255, 255, 255, 0.7);
      padding: 0px 20px; }

.home-hero-slider .hero-item {
  position: relative;
  height: 387px; }
  .home-hero-slider .hero-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 4, 0.38);
    z-index: 9; }
  .home-hero-slider .hero-item article {
    position: relative;
    z-index: 99;
    padding: 150px 0px 90px 0px; }
  .home-hero-slider .hero-item .slider-item-img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover; }

.countries-list .country-item {
  padding: 15px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee; }
  .countries-list .country-item .flag {
    margin-right: 7px;
    width: 1.33333333em;
    line-height: 1em;
    object-fit: contain;
    border: 1px solid #eee; }
  @media (min-width: 576px) {
    .countries-list .country-item {
      /*background: purple;*/
      /*&:nth-child(3n) {
                border-right: none;
            }*/ }
      .countries-list .country-item:nth-last-child(2), .countries-list .country-item:nth-last-child(3), .countries-list .country-item:nth-last-child(4) {
        border-bottom-color: transparent; }
      .countries-list .country-item:nth-last-child(1) {
        border-bottom-color: transparent;
        border-right-color: transparent; }
      .countries-list .country-item:nth-child(3n) {
        border-right-color: transparent; } }
  @media (min-width: 768px) {
    .countries-list .country-item:nth-child(3n) {
      border-right-color: #eee; }
    .countries-list .country-item:nth-child(4n) {
      border-right-color: transparent; } }
  @media (min-width: 1200px) {
    .countries-list .country-item:nth-child(4n) {
      border-right-color: #eee; }
    .countries-list .country-item:nth-child(3n) {
      border-right-color: #eee; }
    .countries-list .country-item:nth-child(6n) {
      border-right-color: transparent; } }
