<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="widget-title"><span class="widget-title__inline">ABOUT US</span><span
                    class="widget-title__line"></span></h3>
            <div class="text-muted small">
                <p>But i must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                    was born and I will give you a complete count of the system, and expound the actual teaings
                    of the great explorer idea announcing. But i must explain to you how all this mistaken idea
                    of denouncing pleasure and praising pain was born and I will give you a complete count of
                    the system, and expound the actual teaings of the great explorer idea announcing.</p>
                <p>But i must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                    was born and i will give you a complete count of the system, and expound the actual teaings
                    of the great explorer idea announcing.</p>
                <a href="javascript:void(0)">
                    <span>Read more</span>
                    <i class="fa fa-caret-right ml-3"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-shadow border-0 rounded-0">
                <div class="card-body">
                    <h3 class="text-uppercase font-weight-bold">REQUEST A QUICK QUOTE</h3>
                    <p class="text-muted small">
                        But i must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                        was born and I will give you a complete count.
                    </p>
                    <form action="/Home/SendMessage" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control mb-3" name="fullname" placeholder="Full name">
                                <input type="email" class="form-control mb-3" name="email" placeholder="E-mail Adress">
                                <select class="form-control mb-3" name="Type">
                                    <option value="">Type</option>
                                    <option value="">FBI</option>
                                    <option value="">CFG</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control mb-3" name="subject" placeholder="Subject">
                                <textarea class="form-control" name="message" placeholder="Message" style="height: 84px;"></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-secondary">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>