
<div class="container">
    <div class="countries-list py-5">
        <div. class="text-center">
            <h3 class="text-uppercase font-weight-bold mb-5">States Fees</h3>
        </div.>
         <!-- Wrapper auto fill from js -->
        <div class="row justify-content-center" id="stateList"></div>
    </div>
</div>