
<div class="container">
    <div class="row">
        <!-- Card Info-->
        <div class="col-md-6 col-lg-3">
            <div class="card card-shadow border-0 rounded-0">
                <div class="card-body">
                    <h4 class="text-uppercase font-weight-bold">
                        WELCOME to Apostille
                    </h4>
                    <p class="small text-muted">
                        National Apostille, Inc. is the leader in document Authentication, Certification, Apostille, & Embassy Consulate Legalization.
                        We provide fast document authentication services through all 50 U.S. States including the U.S. Department of State in Washington, D.C.
                        Let us take this important, complicated, and time-consuming process off your hands.
                    </p>
                    <a href="javascript:void(0)">
                        <span>More About us</span>
                        <i class="fa fa-caret-right ml-3"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Card Blog-->
        <div class="col-md-6 col-lg-3">
            <div class="card border-0">
                    <img src="~/Assets/img/posters/1.jpg" class="w-100 blog-img" />
                <div class="card-body">
                    <h5 class="text-uppercase font-weight-bold">
                        UNITED STATES APOSTILLE – SERVING ALL 50 STATES
                    </h5>
                    <p class="small text-muted">
                        Do your documents require an apostille from any of the 50 Secretary of State Offices?  At National …
                    </p>
                    <a href="javascript:void(0)">
                        <span>Read more</span>
                        <i class="fa fa-caret-right ml-3"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Card Blog-->
        <div class="col-md-6 col-lg-3">
            <div class="card  border-0">
                    <img src="~/Assets/img/posters/2.jpg" class="w-100 blog-img" />
                <div class="card-body">
                    <h5 class="text-uppercase font-weight-bold">
                        U.S. DEPARTMENT OF STATE APOSTILLE – WASHINGTON, D.C.
                    </h5>
                    <p class="small text-muted">
                        We specialize in authenticating documents issued from all 50 States and the United States Federal …
                    </p>
                    <a href="javascript:void(0)">
                        <span>Read more</span>
                        <i class="fa fa-caret-right ml-3"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Card Blog-->
        <div class="col-md-6 col-lg-3">
            <div class="card  border-0">
                    <img src="~/Assets/img/posters/3.jpg" class="w-100 blog-img" />
                <div class="card-body">
                    <h5 class="text-uppercase font-weight-bold">
                        EMBASSY / CONSULATE LEGALIZATION
                    </h5>
                    <p class="small text-muted">
                        Do you need your documents certified and legalized for another country? At National Apostille, …
                    </p>
                    <a href="javascript:void(0)">
                        <span>Read more</span>
                        <i class="fa fa-caret-right ml-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>