
<div class="slider-section">
    @* Slider Arrows Controller *@
    <div class="container position-relative">
        <div class="controller">
            <div id="controllerBack" class="btn">
                <i class="fa fa-caret-left"></i>
            </div>
            <button type="button" id="controllerNext" class="btn">
                <i class="fa fa-caret-right"></i>
            </button>
        </div>
    </div>
    @* Slider body *@
    <div class="owl-carousel owl-theme home-hero-slider" id="homeHero">
        @* Slider Item *@
        <div class="item hero-item">
            <div class="container">
                <article>
                    <div class="col-md-6">
                        <h3 class="slider-item-title font-weight-bold text-white text-uppercase ">
                            CRANE TO TRAIN, WE DO EVERYTHING
                        </h3>
                        <p class="slider-item-description text-white">
                            Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.
                        </p>
                        <div class="slider-item-actions">
                            <a href="#" class="btn bg-white text-dark"> Get in touch </a>
                            <a href="#" class="btn btn-secondary"> Order form </a>
                        </div>
                    </div>
                </article>
            </div>

            <img src="~/Assets/img/slider/slider4.jpg" class="slider-item-img" />
        </div>
        @* Slider Item *@
        <div class="item hero-item">
            <div class="container">
                <article>
                    <div class="col-md-6">
                        <h3 class="slider-item-title font-weight-bold text-white text-uppercase ">
                            lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </h3>
                        <p class="slider-item-description text-white">
                            Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.
                        </p>
                        <div class="slider-item-actions">
                            <a href="#" class="btn btn-secondary"> Order form </a>
                        </div>
                    </div>
                </article>
            </div>

            <img src="~/Assets/img/slider/slider1.jpg" class="slider-item-img" />
        </div>
        @* Slider Item *@
        <div class="item hero-item">
            <div class="container">
                <article>
                    <div class="col-md-6">
                        <h3 class="slider-item-title font-weight-bold text-white text-uppercase ">
                            CRANE TO TRAIN, WE DO EVERYTHING
                        </h3>
                        <p class="slider-item-description text-white">
                            Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.
                        </p>
                        <div class="slider-item-actions">
                            <a href="#" class="btn bg-white">Get Started</a>
                        </div>
                    </div>
                </article>
            </div>

            <img src="~/Assets/img/slider/slider3.jpg" class="slider-item-img" />
        </div>
    </div>
</div>
@* / End of Slider Section *@