<div class="panel-row-style">
    <div class="col-lg-6 m-auto">
        <h3 style="font-size: 44px;" class="text-center font-weight-bold">OUR CORE VALUES</h3>
        <p class="text-center"><span class="text-primary"><strong>WRITTEN BY Apostille
                    CEO</strong></span></p>
        <hr class="hr-quote">
        <p class="text-center">Mauris consectetur congue pellentesque. Nam arcu arcu, vulputate et
            tristique sit amet, viverra vitae leo. Cras aliquam lorem in ipsum aliquet laoreet. Duis mi
            massa, consectetur ac auctor at, commodo eu velit. Donec faucibus ipsum quis augue tristique,
            ornare dictum metus luctus. Nam suscipit fermentum fermentum. </p>
        <div class="text-center"><img src="~/Assets/img/signature.png" alt="signature" width="232">
        </div>
    </div>
</div>