<footer class="footer" role="contentinfo">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-md-4">
                    <div class="widget  widget_black_studio_tinymce">
                        <div class="textwidget">
                            <img class=" size-full wp-image-22 alignnone" src="~/Assets/img/logo-white.png"
                                 alt="logo-footer" width="217">
                            <p>
                                We process documents from all 50 U.S. States including the U.S. Department of State in
                                Washington, DC (Federal Documents), the Secretary of the District of Columbia, and
                                select Embassy & Consulate offices.
                            </p>
                            <div class="social-links">
                                <a class="icon-container  icon-container--square" href="javascript:void(0)">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a class="icon-container  icon-container--square" href="javascript:void(0)">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a class="icon-container  icon-container--square" href="javascript:void(0)">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                                <a class="icon-container  icon-container--square" href="javascript:void(0)">
                                    <span class="fa fa-youtube-play"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-md-4">
                    <div class="widget  widget_nav_menu">
                        <h6 class="footer-top__headings text-uppercase font-weight-bold">Important links</h6>
                        <div class="menu-top-menu-container">
                            <ul id="menu-top-menu-1" class="menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24">
                                    <a href="javascript:void(0)">Apostille California</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                    <a rel="noopener noreferrer" href="javascript:void(0)">
                                        Apostille
                                        FBI
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                    <a rel="noopener noreferrer" href="javascript:void(0)">
                                        Apostille
                                        Washington, D.C.
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                    <a rel="noopener noreferrer" href="javascript:void(0)">
                                        Embassy /
                                        Consul Legalization
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                    <a rel="noopener noreferrer" href="javascript:void(0)">
                                        Español –
                                        Apostilla de Documentos
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                    <a rel="noopener noreferrer" href="javascript:void(0)">
                                        Hague
                                        Apostille Member Countries
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                    <a rel="noopener noreferrer" href="javascript:void(0)">
                                        How to
                                        Apostille
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                    <a rel="noopener noreferrer" href="javascript:void(0)">
                                        State
                                        Apostille
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                    <a rel="noopener noreferrer" href="javascript:void(0)">
                                        State
                                        Jurisdiction
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                    <a rel="noopener noreferrer" href="javascript:void(0)">
                                        Terms and
                                        Conditions
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                    <a rel="noopener noreferrer" href="javascript:void(0)">
                                        Translation
                                        of Documents
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-md-4">
                    <div class="widget  widget_black_studio_tinymce">
                        <h6 class="footer-top__headings text-uppercase font-weight-bold">About the owner</h6>
                        <div class="textwidget">
                            <p class="text-small">
                                National Apostille, Inc. is the #1 apostille service company in the
                                United States with offices in California (Los Angeles and San Francisco), Washington,
                                D.C., Texas, Florida, Illinois, Colorado, and New York.
                            </p>
                            <a class="btn btn-secondary" href="javascript:void(0)">Order Form</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="javascript:void(0)">Apostille</a> Made by
                    US Arab of chamber
                </div>
                <div class="col-md-6 text-right">
                    Copyright © 2018–2020 arabchamber. All rights reserved.
                </div>
            </div>

        </div>
    </div>
</footer>