
@{
    ViewBag.Title = "Page not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb -->
<div class="breadcrumbs">
    <div class="container">
        <span>
            <a href="/" class="font-weight-bold">Home</a>
        </span>
        <span>
            <a href="/blog" class="font-weight-bold">Error Page</a>
        </span>
       
    </div>
</div>
<div class="container">
    <div class="row mb-5" id="main-content">
        <div class="col-md-9 content" id="content">
            <h2>Page Not Found</h2>
        </div>
        <div class="col-md-3">
            <!-- Side bar -->
            @Html.Partial("Components/_Sidebar")
        </div>
    </div>
</div>